* {
    box-sizing: border-box;
  }

  body {
    margin: 0;
    font-family: "Karla", sans-serif;
	background: linear-gradient(-45deg, #e9f151, #c984ca, #23d5ab, #9601fa);
	background-size: 400% 400%;
	animation: gradient 20s ease infinite;
	height: 100vh;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
